In [1]:
# reference: https://stackoverflow.com/questions/52279699/python-for-loop-millions-of-rows

In [14]:
import pandas as pd
import numpy as np

In [35]:
### 
#    references of functions
#        1. https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.applymap.html
###

In [42]:
data = np.random.randint(4, size=(6, 4))
cols = ['A_' + ch for ch in list('ABCD')]
ls = list('ABCD')

In [43]:
c_df = pd.DataFrame(data, columns= cols).applymap(lambda x: ls[x])
c_df

  A_A A_B A_C A_D
0   B   C   C   A
1   B   A   A   C
2   D   D   B   B
3   B   C   D   C
4   C   B   D   C
5   B   C   B   C

In [44]:
c_df = pd.DataFrame(np.random.choice(ls, size=(6, 4)), columns=cols)
c_df

  A_A A_B A_C A_D
0   A   C   A   B
1   A   A   C   C
2   C   D   A   C
3   A   A   B   A
4   A   C   B   C
5   C   C   A   A

In [45]:
arr_df = c_df[c_df['A_D'] == 'A']
arr_df

  A_A A_B A_C A_D
3   A   A   B   A
5   C   C   A   A

In [56]:
# c_df.Already_linked = np.random.randint(5, size=5) # it doesn't work for creating a new col
c_df['Already_linked'] = np.random.randint(5, size=5)
c_df

ValueError: Length of values does not match length of index

In [57]:
np.random.randint(5, size=5)

array([2, 4, 0, 4, 2])