In [1]:
import pandas as pd
import numpy as np

In [ ]:
# date_range 
# from dict

In [2]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.842810  0.787331  0.376008 -0.860044
2013-01-02 -1.464767  0.918891  0.670980  0.410137
2013-01-03 -1.864264 -1.634399 -1.437062  0.253280
2013-01-04 -1.778443 -1.242335 -0.340118  0.398916
2013-01-05 -0.065898  0.560083 -0.399021  0.815099
2013-01-06  0.444482  0.495849  0.994637  0.871027